<mat-card class="out-frame">
  <mat-card-title class="header">Add Button</mat-card-title>
  <mat-card-content>
    <add-button></add-button>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Singe Select Dropdown</mat-card-title>
  <mat-card-content></mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Multi Select Dropdown</mat-card-title>
  <mat-card-content></mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Switch</mat-card-title>
  <mat-card-content></mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Tiles</mat-card-title>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Large Tiles</mat-card-title>
</mat-card>


<mat-card class="out-frame">
  <mat-card-title class="header">Check Box</mat-card-title>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Radio Buttons</mat-card-title>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">List Box</mat-card-title>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Accordions</mat-card-title>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Modal Windows</mat-card-title>
</mat-card>