<mat-card class="out-frame">
  <mat-card-title class="header">Add Button</mat-card-title>
  <mat-card-content>
    <add-button></add-button>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Singe Select Dropdown</mat-card-title>
  <mat-card-content>
    <single-select-dropdown></single-select-dropdown>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Multi Select Dropdown</mat-card-title>
  <mat-card-content></mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Switch</mat-card-title>
  <mat-card-content>
    <switch-button></switch-button>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Tiles</mat-card-title>
  <mat-card-content>
    <tiles></tiles>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Large Tiles</mat-card-title>
  <mat-card-content>
    <large-tiles></large-tiles>
  </mat-card-content>
</mat-card>


<mat-card class="out-frame">
  <mat-card-title class="header">Check Box</mat-card-title>
  <mat-card-content>
    <check-box></check-box>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Radio Buttons</mat-card-title>
  <mat-card-content>
    <radio-button></radio-button>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">List Box</mat-card-title>
  <mat-card-content>
    <list-box></list-box>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Accordions</mat-card-title>
  <mat-card-content>
    <accordions></accordions>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Modal Windows</mat-card-title>
  <mat-card-content></mat-card-content>
</mat-card>