<!-- <div> 
 <h5 class="white">Race </h5>
  <mat-form-field appearance="outline">
    <mat-select placeholder="Select One" (selectionChange)="resetDropdown">
      <input matInput class="dropdown_filter" placeholder="Search" (keyup)="filterDropdown($event.target.value)">
      <mat-option *ngFor="let race of races" [value]="race">
        {{race}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div> -->

<ng-template>
  <div (click)="dropdownClosed.emit()">
    <!-- <mat-form-field appearance="outline">
      <mat-select placeholder="Select One" (selectionChange)="resetDropdown">
        <input matInput class="dropdown_filter" placeholder="Search" (keyup)="filterDropdown($event.target.value)">
        <mat-option *ngFor="let race of races" [value]="race">
          {{race}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    
    <li *ngFor="let race of races" [value]="race">
      {{race}}
    </li>
  </div>
</ng-template>