<h3 class="list-box_header">Added Reentrant(s)</h3>
<mat-list class="list-box">
  <mat-list-item class="list-box_item" *ngFor="let item of list; let i = index ">
    <div class="list-box_item-wrapper">
      <div> {{item}}</div>
      <button mat-icon-button (click)="remove(i)">
        <mat-icon class="list-box_item_icon-button">clear</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <!-- <mat-list-item class="list-box_item">
    <div class="list-box_item-wrapper">
      <div> 200-79-46-1 - ABDULLAH, NAREE</div>
      <button mat-icon-button>
        <mat-icon class="list-box_item_icon-button">clear</mat-icon>
      </button>
    </div>
  </mat-list-item> -->
</mat-list>