.dropdown_filter {
  line-height: 40px;
}

.mat-form-field {
  width: 100%;
}

.mat-radio-group {
  line-height: 60px !important;
}

.btn-group {
  display: flex;
  justify-content: space-between;

  button {
    font-weight: bolder;
    background-color: orange;
    color: white;

    &:disabled {
      background-color: grey;
      cursor: not-allowed;
    }
  }
}

.mat-card {
  margin-bottom: 20px;
  background-color: black;
  color: white;
}

.mat-divider {
  margin-bottom: 20px;
}

.mat-button[disabled][disabled] {
  color: rgb(213, 213, 213);
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: orange !important;
}


mat-datepicker-toggle {
  color: orange !important;
}


.tooltip-error {
  color: red !important;
}

::ng-deep {

  .mat-select-arrow {
    color: te !important;
  }

  .mat-select-value-text {
    color: white !important;
  }
}
