:host {
  display: block;
  padding: 0 0.875rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: whitesmoke;
  background-color: rgb(39, 39, 39);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
  border-top: 1px grey solid;
  border-left: 1px grey solid;
  border-right: 1px grey solid;
  transition: 0.4s;

  &:last-of-type {
    border-bottom: 1px grey solid;
    border-radius: 0 0 5px 5px;
  }

  &.selected {
    font-weight: bold;
  }

  &:hover,
  &.active {
    outline: none;
  }

  &:hover {
    background-color: rgb(83, 78, 78);
  }

  &.hide {
    display: none;
  }
}

.selected-icon {
  height: 100%;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  font-weight: 900;
}

.dropdown-panel {
  border: 1px red solid;
}
