.input-wrapper {
  position: relative;
  min-width: 230px;
  padding: .5rem 0 1.5rem;
  width: 30%;

  .input {
    margin: 0;
    outline: 0;
    display: flex;
    flex-wrap: nowrap;

    &.cdk-focused {
      .dropdown-arrow {
        border-color: orange !important;
      }

      input {
        border-color: orange !important;
      }
    }

    input {
      width: calc(100% - 40px);
      height: 40px;
      line-height: 40px;
      border: none;
      border-bottom: 1px solid #a8a8a8;
      text-overflow: ellipsis;
      white-space: normal;
      overflow: hidden;
      color: #323232;
      margin-top: 4px;
      padding-bottom: 2px;
      outline: 0;
      cursor: pointer;
      font-size: inherit;
      margin: 0;
      color: gray;
      background-color: transparent;
      border: 2px solid grey;
      border-radius: 20px 0 0 21px;

      &:active,
      &:focus {
        border-color: orange;
      }

      &:disabled {
        cursor: default;
        color: #93a1aa;
        border-bottom: solid 1px #93a1aa;
      }

      &:disabled+.dropdown-arrow {
        color: #93a1aa;
      }
    }

    .dropdown-arrow {
      display: inline-block;
      border: 2px grey solid;
      border-radius: 0 20px 20px 0;
      border-left: 0px;
    }

    &.required label:after {
      color: red;
      content: "*";
      position: relative;
      left: 5px;
      bottom: 5px;
    }
  }
}

.dropdown-options-container {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .24);
  display: block;
  overflow: auto;
  background-color: black;
  color: whitesmoke;
}

.multi-select-actions {
  display: flex;
  justify-content: space-between;
  background-color: rgb(39, 39, 39);
  border-top: 1px grey solid;
  border-left: 1px grey solid;
  border-right: 1px grey solid;
  border-radius: 4px 4px 0 0;

  button {
    border-bottom: 1px solid grey;
    border-radius: 0;
  }

  .mat-icon {
    font-weight: 900;
    font-size: 20px;
  }
}

.dropdown-filter {
  width: 100%;
  border: 2px grey solid;
  border-radius: 24px;
  color: whitesmoke;
  background-color: transparent;
  line-height: 32px;
  outline: 0;

  &:focus {
    border-color: orange;
  }

  &_background {
    background-color: rgb(39, 39, 39);
    padding: 6px 14px;
    border-left: 1px grey solid;
    border-right: 1px grey solid;

    &:first-of-type {
      border-top: 1px grey solid;
      border-radius: 4px 4px 0 0;
    }
  }
}

::ng-deep {
  .cdk-overlay-pane {
    flex-direction: column;
    max-height: 400px;
  }
}
