.container-xxl {
  padding-top: 30px;
  padding-bottom: 40px;
}

::ng-deep.cdk-overlay-container {
  background: #000;
  opacity: 0.85;
}


.btn-back-top {
  color: orange;
  opacity: 0.7;
  display: block;
  float: right;
  position: fixed;
  right: 0;
  bottom: 0;

  &.hide {
    display: none;
  }
}
