.tp-wrapper {
  -webkit-perspective: 800px;
  perspective: 800px;
}



.tp-box {
  position: relative;
  width: 300px;
  height: 220px;
  // margin: 3rem auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;
}

.tp-box__side {
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  // color: #fff;
  // text-align: center;
  // line-height: 100px;
  // font-size: 24px;
  // font-weight: 700;
  // cursor: pointer;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}

.tp-box__back {
  background: #C27719;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.tp-box__front {
  background: #C27719;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.header {
  height: 35px;
  background: #9f5d0a;
  color: white;
  border-bottom: black solid 1px;
  line-height: 30px;
  font-size: 18px;

  .mat-card-header-text {
    margin: 0 10px !important;
  }
}

.content {
  height: 110px;
  margin: 15px;
}

.actions {
  height: 30px;
  padding: 0 10px;
  justify-content: center;
  display: flex;
  color: white;

  button mat-icon {
    font-size: 18px;
    line-height: 22px;
  }
}

