<mat-accordion class="accordion">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="accordion_header">
      <mat-panel-title class="accordion_title-alert">
        Overdue
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="accordion_content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut placerat orci nulla pellentesque dignissim enim sit amet. Porta nibh venenatis cras sed felis.
        Dui nunc mattis enim ut. Dui accumsan sit amet nulla facilisi morbi tempus. Ullamcorper dignissim cras tincidunt
        lobortis feugiat vivamus at. Nullam ac tortor vitae purus faucibus ornare suspendisse. Venenatis lectus magna
        fringilla urna porttitor rhoncus dolor.
      </p>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="accordion_header">
      <mat-panel-title class="accordion_title">
        Today
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="accordion_content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Tempor orci dapibus ultrices in iaculis. Diam vulputate ut pharetra sit amet aliquam id diam.
        Mauris
        cursus mattis molestie a iaculis at. Lobortis mattis aliquam faucibus purus.
      </p>
    </div>
  </mat-expansion-panel>
</mat-accordion>