.tile {
  margin-bottom: 50px;
}

 .custom-paginator {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

}

.mat-paginator {
  background-color: black;
  color: white;
}

input {
  color: white !important;
}