<!-- <h3 style="padding-bottom: 30px;">Pure Angular Material Components</h3> -->

<mat-card class="out-frame">
  <mat-card-title class="header">Add Button</mat-card-title>
  <mat-card-content>
    <button mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Singe Select Dropdown</mat-card-title>
  <mat-card-content>
    <mat-form-field color="primary" appearance="outline" class="single-select">
      <mat-label>Single Select</mat-label>
      <mat-select (openedChange)="singleSelectToggle($event)">
        <input autocomplete="off" matInput placeholder="filter" class="single-select_filter" [ngModel]="singleFilter"
          (ngModelChange)="singleSelectFilter($event)">
        <mat-option *ngFor="let item of singleSelect" value="item.val">{{item.key}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Multi Select Dropdown</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="fill" color="primary" appearance="outline" class="multi-select">
      <mat-label> Multi Select</mat-label>
      <mat-select [formControl]="multi" multiple (openedChange)="multiSelectToggle($event)">
        <div class="multi-select_actions">
          <button mat-button (click)="selectAll()">
            <mat-icon> check</mat-icon>
            Check All
          </button>
          <button mat-button (click)="unselectAll()">
            <mat-icon>close</mat-icon>
            Uncheck All
          </button>
        </div>
        <input class="multi-select_filter" autocomplete="off" matInput placeholder="filter" class="multi-select_filter"
          [ngModel]="multiFilter" (ngModelChange)="multiSelectFilter($event)">
        <mat-option *ngFor="let item of multiSelect" [value]="item.val">{{item.key}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Switch</mat-card-title>
  <mat-card-content>
    <mat-slide-toggle labelPosition="before">ACP Clients Only</mat-slide-toggle>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Tiles</mat-card-title>
  <mat-card-content>
    <tiles></tiles>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Large Tiles</mat-card-title>
  <mat-card-content>
    <large-tiles></large-tiles>
  </mat-card-content>
</mat-card>


<mat-card class="out-frame">
  <mat-card-title class="header">Check Box</mat-card-title>
  <mat-card-content>
    <mat-checkbox>Speak</mat-checkbox> <br />
    <mat-checkbox>Read</mat-checkbox> <br />
    <mat-checkbox>Write</mat-checkbox>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Radio Buttons</mat-card-title>
  <mat-card-content>
    <mat-radio-group>
      <mat-radio-button value="1">Domestic</mat-radio-button> &nbsp;
      <mat-radio-button value="2">International</mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">List Box</mat-card-title>
  <mat-card-content>
    <list-box></list-box>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Accordions</mat-card-title>
  <mat-card-content>
    <!-- <accordions></accordions> -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Overdue
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut placerat orci nulla pellentesque dignissim enim sit amet. Porta nibh venenatis cras sed
          felis. Dui nunc mattis enim ut. Dui accumsan sit amet nulla facilisi morbi tempus. Ullamcorper dignissim cras
          tincidunt lobortis feugiat vivamus at. Nullam ac tortor vitae purus faucibus ornare suspendisse. Venenatis
          lectus magna fringilla urna porttitor rhoncus dolor.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Today
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Tempor orci dapibus ultrices in iaculis. Diam vulputate ut pharetra sit amet aliquam id diam.
          Mauris cursus mattis molestie a iaculis at. Lobortis mattis aliquam faucibus purus.</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Modal Windows</mat-card-title>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="openDialog()">Open Modal</button>
  </mat-card-content>
</mat-card>

<mat-card class="out-frame">
  <mat-card-title class="header">Calender</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
</mat-card>