<mat-card class="large-tile">
  <mat-card-title class="tile-title">
    <span class="title">Inmate-Status of Inmate/Case</span>
    <span clas="title-sub">08/19/2021</span>
  </mat-card-title>
  <mat-card-content>
    <p>vacated sentence From: Ryan, Lisa </p>
    <p>Sent: Thursday, August 19, 2021 1:17pm</p>
    <p>To: Trantella, John</p>
    <p>Cc: Towe, Michael</p>
    <p>Subject RE: CY7979 Abdullah information received, T...</p>
    <p>Re: Offender(s): ABDULLAH, NAREE</p>
  </mat-card-content>
  <div class="footer">
    <div><b>Created By:</b> Ryan, Lisa Marie</div>
    <div><b>Created On:</b>
      <mat-icon>calendar_today</mat-icon>08/19/2021 1318hrs
    </div>
    <button mat-flat-button>View</button>
  </div>
</mat-card>
