@use '~@angular/material' as mat;
@include mat.core();

$my-app-primary: mat.define-palette(mat.$orange-palette);
$my-app-accent:  mat.define-palette(mat.$pink-palette, 500, 900, A100);
$my-app-warn:    mat.define-palette(mat.$deep-orange-palette);
$my-app-theme: mat.define-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include mat.all-component-themes($my-app-theme);
$angularCaptorDemo-primary: mat.define-palette(mat.$orange-palette);
$angularCaptorDemo-accent: mat.define-palette(mat.$deep-orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angularCaptorDemo-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$angularCaptorDemo-theme: mat.define-dark-theme($angularCaptorDemo-primary, $angularCaptorDemo-accent, $angularCaptorDemo-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angularCaptorDemo-theme);

