@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-orange);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
$angularCaptorDemo-primary: mat-palette($mat-orange);
$angularCaptorDemo-accent: mat-palette($mat-deep-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angularCaptorDemo-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angularCaptorDemo-theme: mat-light-theme($angularCaptorDemo-primary, $angularCaptorDemo-accent, $angularCaptorDemo-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angularCaptorDemo-theme);

