.card-header-btn-group {
  width: 35%;

  button {
    float: right;
  }

  .mat-icon {
    margin-right: 4px;
  }
}

::ng-deep.mat-card-header {
  justify-content: space-between;
}

.mat-card {
  margin-bottom: 20px;
  background-color: black;
  color: white;
}

.active {
  background-color: orange;
}

.mat-card-subtitle {
  width: 80%;
}
