<button mat-button style="color: orange" (click)="backToSearch()"><mat-icon>keyboard_arrow_left</mat-icon>&nbsp;Back to Search</button>
<div class="header">
  <div>
    <h2 class="header-text">
      <mat-icon class="identity-icon">perm_identity</mat-icon> <span>Reentrant's Profile</span>
    </h2>

  </div>
  <div class="quick-search">
    Quick Reentrant search
    <mat-form-field appearance="outline">
      <input matInput #search placeholder="Type a SID#, DOC#, PBPP#, ICOTS#, FBI# or Phill. Photo Id#.">
      <button matSuffix mat-icon-button aria-label="search" [disabled]="search.value === ''" (click)="showResults()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<mat-card>
  <h4 class="white">{{offenderDetails?.offenderName}}</h4>
  <mat-divider></mat-divider>
  <div class="wrapper">
    <div class="photo-wrapper">
      <img class="photo" src="/assets/offender.png" alt="offender oupicture">
      <button mat-button class="photo-more" (click)="openDialog()">More Photos</button>
    </div>

    <div class="info">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <b>SID#:</b> &nbsp;<span class="white">{{offenderDetails?.sid}}</span>
        </div>
        <div class="col-xs-12 col-md-3">
          <b>PBPP#:</b> &nbsp;<span class="white">{{offenderDetails?.pbppIdentifier}}</span>
        </div>
        <div class="col-xs-12 col-md-3">
          <b>DOC#:</b> &nbsp;<span class="white">{{offenderDetails?.docIdentifier}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <b>Date of Birth#:</b> &nbsp;<span class="white">{{offenderDetails?.dob | date}}</span>
        </div>
        <div class="col-xs-12 col-md-3">
          <b>Race:</b>&nbsp;<span class="white">{{offenderDetails?.race}}</span>
        </div>
        <div class="col-xs-12 col-md-3">
          <b>Sex:</b>&nbsp;<span class="white">{{offenderDetails?.sex}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <b>Permanent Location: </b>&nbsp;<span class="white">{{offenderDetails?.pbppIdentifier}}</span>
        </div>
        <div class="col-xs-12 col-md-6">
          <b>Temporary Location:</b>&nbsp;<span class="white">{{offenderDetails?.pbppIdentifier}}</span>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group [backgroundColor]="'primary'">
    <mat-tab label="Sentenceing">
      <div class="info">
        <div class="row">
          <div class="col-xs-12 col-md-6 space-align">
            <b>Offense Code:</b>&nbsp;<span class="white">CS13A19</span>
          </div>
          <div class="col-xs-12 col-md-6 space-align">
            <b>DOC Status:</b>&nbsp;<span class="white">PAROLED</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 space-align">
            <b>Committing County:</b>&nbsp;<span class="white">DAUPHIN</span>
          </div>
          <div class="col-xs-12 col-md-6 space-align">
            <b>Controlling Min Date:</b>&nbsp;<span class="white">04/09/2017</span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6 space-align">
            <b>RRRI Min Date:</b>&nbsp;<span class="white">04 / 09 / 2017</span>
          </div>
          <div class="col-xs-12 col-md-6 space-align">
            <b>True Min Date:</b>&nbsp;<span class="white">10 / 10 / 2017</span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6 space-align">
            <b>Controlling Max Date: </b>&nbsp;<span class="white">07 / 10 / 2020</span>
          </div>
          <div class="col-xs-12 col-md-6 space-align">
            <b>Recomputed PV Max Date:</b>&nbsp;<span class="white"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6 space-align">
            <b>RRRI: </b>&nbsp;<span class="white">Certified</span>
          </div>
          <div class="col-xs-12 col-md-6 space-align">
            <b>Philadelphia Photo Number:</b>&nbsp;<span class="white"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6 space-align">
            <b>DOC Status: </b>&nbsp;<span class="white">PAROLED</span>
          </div>
          <div class="col-xs-12 col-md-6 space-align">
            <b>Probation Max Date:</b>&nbsp;<span class="white"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 space-align">
            <b>Parole Docket: </b>&nbsp;<span class="white"></span>
          </div>
          <div class="col-xs-12 col-md-6 space-align">
            <b>Docket Status:</b>&nbsp;<span class="white"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 space-align">
            <b>Interview Type:</b>&nbsp;<span class="white"></span>
          </div>
          <div class="col-xs-12 col-md-6 space-align">
            <b>Constructive Parole:</b>&nbsp;<span class="white"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6 space-align">
            <b>Rebuttable: </b>&nbsp;<span class="white"></span>
          </div>
          <div class="col-xs-12 col-md-6 space-align">
            <b>Released From:</b>&nbsp;<span class="white">CAMP HILL</span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6 space-align">
            <b>Released Date: </b>&nbsp;<span class="white">03 / 27 / 2018</span>
          </div>
          <div class="col-xs-12 col-md-6 space-align">
            <b>RHU Status:</b>&nbsp;<span class="white"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6 space-align">
            <b>Length Of Stay:</b>&nbsp;<span class="white"></span>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Demographics">
      <div class="row">
        <div class="personal-info col-xs-12 col-md-6">
          <h4>PERSONAL INFORMATION</h4>
          <ul>
            <li *ngFor="let item of personalInfo" class="space-align"><b>{{item}}:</b>&nbsp;<span
                class="white">{{personalInfoData[item]}}</span></li>
          </ul>
        </div>
        <div class="employer-info col-xs-12 col-md-6">
          <h4>EMPLOYER INFORMATION</h4>
          <ul>
            <li *ngFor="let item of employerInfo"><b>{{item}}:</b></li>
          </ul>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Supervision" class="supervision">
      <div class="row">
        <div class="col-xs-12 col-md-5">
          <ul *ngFor="let item of supervision; let i = index">
            <li *ngIf="i<(supervision.length/2)" class="space-align">
              <b>{{item}}:</b>&nbsp; <span class="white">{{ supervisionData[item] || ''}}</span>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-5">
          <ul *ngFor="let item of supervision; let i = index">
            <li *ngIf="i>(supervision.length/2) || i==(supervision.length/2)" class="space-align">
              <b>{{item}}:</b> &nbsp; <span class="white">{{ supervisionData[item] || ''}}</span>
            </li>
          </ul>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Problem Areas">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <b class="sub-header">Behavior</b>
          <ul *ngFor="let item of problemAreas.Behavior">
            <li>
              <mat-icon class="checkbox-icon">check_box_outline_blank</mat-icon><span class="white">{{item}}</span>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4">
          <b class="sub-header">Housingsing</b>
          <ul *ngFor="let item of problemAreas.Housingsing">
            <li>
              <mat-icon class="checkbox-icon">check_box_outline_blank</mat-icon><span class="white">{{item}}</span>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-4">
          <b class="sub-header">Supervision Protocols</b>
          <ul *ngFor="let item of problemAreas['Supervision Protocols']">
            <li>
              <mat-icon class="checkbox-icon">check_box_outline_blank</mat-icon><span class="white">{{item}}</span>
            </li>
          </ul>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Case Assignment">
      <div class="col-xs-12 col-md-6">
        <ul *ngFor="let item of caseAssignment">
          <li>{{item}}:</li>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>