<div class="header">
  <h2 class="header-text">
    <mat-icon class="identity-icon">perm_identity</mat-icon> <span>Reentrant's Profile</span>
  </h2>
  <div class="quick-search">
    Quick Reentrant search
    <mat-form-field appearance="outline">
      <input matInput placeholder="Type a SID#, DOC#, PBPP#, ICOTS#, FBI# or Phill. Photo Id#.">
      <button matSuffix mat-icon-button aria-label="search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<mat-card>
  <h4 class="white">offender name</h4>
  <mat-divider></mat-divider>
  <div class="wrapper">
    <img class="photo" src="/assets/offender.png" alt="offender oupicture">
    <div class="info">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <b>SID#:</b>
        </div>
        <div class="col-xs-12 col-md-3">
          <b>PBPP#:</b>
        </div>
        <div class="col-xs-12 col-md-3">
          <b>DOC#:</b>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <b>Date of Birth#:</b>
        </div>
        <div class="col-xs-12 col-md-3">
          <b>Race:</b>
        </div>
        <div class="col-xs-12 col-md-3">
          <b>Sex:</b>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <b>Permanent Location: </b>
        </div>
        <div class="col-xs-12 col-md-6">
          <b>Temporary Location:</b>
        </div>
      </div>
    </div>
  </div>

  <mat-tab-group [backgroundColor]="'primary'">
    <mat-tab label="Sentenceing">
      <div class="info">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <b>Offense Code:</b>
          </div>
          <div class="col-xs-12 col-md-6">
            <b>DOC Status:</b>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <b>Committing County:</b>
          </div>
          <div class="col-xs-12 col-md-6">
            <b>Controlling Min Date:</b>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <b>RRRI Min Date:</b>
          </div>
          <div class="col-xs-12 col-md-6">
            <b>True Min Date:</b>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <b>Controlling Max Date: </b>
          </div>
          <div class="col-xs-12 col-md-6">
            <b>Recomputed PV Max Date:</b>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <b>RRRI: </b>
          </div>
          <div class="col-xs-12 col-md-6">
            <b>Philadelphia Photo Number:</b>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <b>DOC Status: </b>
          </div>
          <div class="col-xs-12 col-md-6">
            <b>Probation Max Date:</b>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <b>Parole Docket: </b>
          </div>
          <div class="col-xs-12 col-md-6">
            <b>Docket Status:</b>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <b>Interview Type</b>
          </div>
          <div class="col-xs-12 col-md-6">
            <b>Constructive Parole:</b>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <b>Rebuttable: </b>
          </div>
          <div class="col-xs-12 col-md-6">
            <b>Released From:</b>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <b>Released Date: </b>
          </div>
          <div class="col-xs-12 col-md-6">
            <b>RHU Status:</b>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <b>Length Of Stay:</b>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Demographics">
      <div class="row">
        <div class="personal-info col-xs-12 col-md-6">
          <h4>PERSONAL INFORMATION</h4>
          <ul>
            <li *ngFor="let item of personalInfo"><b>{{item}}:</b></li>
          </ul>
        </div>
        <div class="employer-info col-xs-12 col-md-6">
          <h4>EMPLOYER INFORMATION</h4>
          <ul>
            <li *ngFor="let item of employerInfo"><b>{{item}}:</b></li>
          </ul>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Supervision" class="supervision">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <ul>
            <li *ngFor="let item of supervision"><b>{{item}}:</b></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6">
          <ul>
            <li *ngFor="let item of supervision"><b>{{item}}:</b></li>
          </ul>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Problem Areas"> Content 3
    </mat-tab>
    <mat-tab label="Case Assignment"> Content 3
    </mat-tab>
  </mat-tab-group>
</mat-card>