.info {
  display: inline-block;
  width: 80%;
  padding: 20px 30px;
}

.row>div {
  margin-bottom: 16px;
}

::ng-deep .mat-tab-label {
  width: 20% !important;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;

  .quick-search {
    display: flex;
    flex-direction: column;
  }

  .header-text {
    display: flex;
    justify-content: center;

    .identity-icon {
      font-size: 2rem;
      margin-right: 12px;
    }
  }
}

.photo {
  width: 100px;
  border-radius: 3%;
  margin-top: -80px;
}

.mat-card {
  color: orange;
  background-color: black;
}

::ng-deep.mat-tab-label-active {
  background-color: black !important;
  opacity: 0.8;
  color: orange !important;
}

.personal-info,
.employer-info,
.supervision {
  h4 {
    border-bottom: 1px solid whitesmoke;
    text-align: center;
  }
}

ul {
  list-style: none;

  li {
    padding-bottom: 16px;
  }
}

::ng-deep.mat-tab-body-content {
  overflow: hidden !important;
}


::ng-deep.mat-tab-body-wrapper {
  padding-top: 15px;
}