<h2 mat-dialog-title>Additional Photos</h2>
<mat-divider></mat-divider>
<mat-dialog-content style="padding-top: 20px;">
  <div class="row" style="min-height: 200px; min-width: 520px;">
    <div class="col-sm-12 col-md-4">
      <img style="width: 110px; border: 3px orange solid; border-radius: 5%;" src="assets/offender.png"
        alt="offender oupicture">
    </div>
    <div class="col-sm-12 col-md-4">
      <img style="width: 110px; border: 3px orange solid; border-radius: 5%;" src="assets/offender.png"
        alt="offender oupicture">
    </div>
    <div class="col-sm-12 col-md-4">
      <img style="width: 110px; border: 3px orange solid; border-radius: 5%;" src="assets/offender.png"
        alt="offender oupicture">
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>