::ng-deep {
  .mat-dialog-container {
    background-color: rgb(92, 92, 92);
    color: whitesmoke;
    min-width: 450px;
  }

  .mat-dialog-content {
    min-width: 450px !important;
    padding: 40px 20px;
    border-block-start: 3px rgb(80, 21, 21) solid;
    border-block-end: 3px rgb(80, 21, 21) solid;
  }
}

h3.dialog-title {
  font-size: 1.4rem !important;
}


.dialog-header {
  display: flex;
  justify-content: space-between;

  &_close-button {
    float: right;
    top: -24px;
    right: -24px;
  }
}

.delete-button {
  border-radius: 45px;
  background-color: rgb(208, 32, 32);
  color: white;

  &_icon {
    border-radius: 45px;
    transform: translateY(3px);
    color: white;

    &-wrapper {
      display: inline-block;
      background-color: rgb(208, 32, 32);
      border-radius: 45px;
      height: 38px;
      width: 38px;
      border: 3px solid rgb(92, 92, 92);
      margin-left: -16px;
      margin-right: 4px;
    }
  }
}

.keep-button {
  border-radius: 45px;
  background-color: rgb(223, 151, 18);
  color: white;

  &_icon {
    border-radius: 45px;
    transform: translateY(3px);
    color: white;

    &-wrapper {
      display: inline-block;
      background-color: rgb(223, 151, 18);
      border-radius: 45px;
      height: 38px;
      width: 38px;
      border: 3px solid rgb(92, 92, 92);
      margin-left: -16px;
      margin-right: 4px;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}
